@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');

*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
}

img{
	max-width: 100%
}

p{
	font-family:'Roboto', sans-serif;
	font-weight: 400;
	color: #455763;
}

h1,h2,h3,h4,h5,h6{
	font-family:'Gupter', serif;
	font-weight: 500;
	color: #455763;
}

h1{
	font-size: 90px;
}

h2{
	font-size: 40px;
}
.card-about {
	padding: 14px 20px;
}

.card-about p{
	margin-top: 16px;
	
}

.badge-card{
	background-color:#455763;
	color:#E4EAEB;
	padding: 5px 10px;
}

.card-container{
 border: 1px solid #455763;
}