@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');

*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
}

img{
	max-width: 100%
}

p{
	font-family:'Roboto', sans-serif;
	font-weight: 400;
	color: #455763;
}

h1,h2,h3,h4,h5,h6{
	font-family:'Gupter', serif;
	font-weight: 500;
	color: #455763;
}

.light-container{
	padding: 20px;
	background-color: #E4EAEB;
}

.section-title{
	width: fit-content;
}

.section-title hr{
	border-top:dashed 1px;
	margin-top:0;
}

.section-title h2{
	margin-bottom:0;
}
.card-contact-header{
	background-color: #455763;
	color: #FFFFFF;
}

.card-body p{
	font-family:'Roboto' sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.card-box{
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.13);
}

.card-contact{
	padding: 14px 20px;
}

.dark-container{
	padding: 20px;
	background-color:#455763;
}

.content-center{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-catalogo{
	font-family:'Roboto', sans-serif;
	font-weight: 700;
	color:#E4EAEB;
	border: 1px solid #E4EAEB;
}


.btn-catalogo:hover{
	background-color:#E4EAEB;
	color:#455763;
}

.map{
	padding-top: 52px;
}

.card-text img{
	width: 30px;
	height: 30px;
	margin-right: 13px;
	margin-right: 13px;
}

.card-body p{
	display: flex;
	align-items: center;
}

